<ion-view title="Favourites">
    <ion-content>
        <div class="list card" ng-repeat="favourite in $storage.favourites">
            <div class = "item {{favourite.category}}-background">
            </div>
            <div class = "item item-body">
                <h2>{{favourite.quote}}</h2>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <button class="tab-item button button-clear button-dark liked-quote" ng-click="unlikeFavourite({{$index}})">
                    <i class="icon ion-android-favorite"></i>
                    Unlike
                </buton>
                <button class="tab-item button button-clear button-dark" ng-click="shareFavourite({{$index}})">
                    <i class="icon ion-share"></i>
                    Share
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
